<div class="row">
  <div class="col-6">
    <app-dona [labels]="labels1" [data]="datasets1" title="Ventas"> </app-dona>
  </div>

  <div class="col-6">
    <app-dona [labels]="labels2" [data]="datasets2" title="Compras"></app-dona>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <app-dona [labels]="labels3" [data]="datasets3" title="Cambios"></app-dona>
  </div>

  <div class="col-6">
    <app-dona [labels]="labels4" [data]="datasets4" title="Compras 2"> </app-dona>
  </div>
</div>
